<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yx.dao.CarchargeMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yx.pojo.Carcharge">
                    <id column="id" property="id"/>
                    <result column="pay_date" property="payDate"/>
                    <result column="end_date" property="endDate"/>
                    <result column="money" property="money"/>
                    <result column="status" property="status"/>
                    <result column="owner_id" property="ownerId"/>
                    <result column="remarks" property="remarks"/>
                    <result column="type" property="type"/>
                    <result column="park_id" property="parkId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, pay_date, end_date, money, status, owner_id, remarks, type, park_id
        </sql>

</mapper>